* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: rgb(16,16,16);
    color: white;
}

/***NAVIGATION BAR*******/
  nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    min-height: 8vh;
    width: 100%;
    padding: 2%;
    font-size: 0.9em;
  }
  
  nav ul {
    display: flex;
    width: 65%;
    list-style-type: none;
    margin: 0;
    margin-top: 2%;
    padding: 0;
    overflow: hidden;
    justify-content: space-evenly;
  }
  
  ul li a {
    color: rgb(255, 255, 255);
    font-family: 'Spartan', sans-serif;
    text-decoration: none;
    letter-spacing: 1.8px;
  }
  
  ul li a:hover {
    color:  rgb(165, 165, 165);
    transition: 0.3s ease-in;
  }
  
  .active {
    text-decoration: underline;
  }

   /**********INDEX.HTML********/
   #container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  #slider {
    overflow: hidden;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 1%;
  }

  #header-container {
    text-align: center;
    margin-top: 2%;
    font-size: 1.2em;
    font-family: 'Spartan', sans-serif;
    color: rgb(255, 255, 255);
  }
  
  #slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
  }

  #slider figure img {
    width: 20%;
    float: left;
  }

  @keyframes slider {
    0% {
        left: 0;
    }
  
    20% { 
        left: 0;
    }
  
    25% {
        left: -100%;
    }
  
    45% {
        left: -100%;
    }
  
    50% {
        left: -200%;
    }
  
    70% {
        left: -200%;
    }
  
    75% {
        left: -300%;
    }
  
    95% {
        left: -300%;
    }
  
    100% {
        left: -400%;
    }
  }

  #personal-statement {
    border-top: 1px solid rgb(67, 67, 67);
    color: white;
    min-height: 40vh;
  }

  #personal-statement h2 {
    text-align: center;
    font-size: 2em;
    margin-top: 2%;
  }

  #personal-statement-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
    padding: 1%;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
  }
  

  /*****ABOUT PAGE*******/
  
  
  #section-1-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3%;
  }
  
  #section-1-container p {
    width: 100%;
    font-size: 1em;
    padding: 1%;
    margin-left: 2%;
    color: rgb(255, 255, 255);
  }
  
  /*ANIMATION DURATION FOR SECTIONS TO SLIDE*/
  
  .animate__animated.animate__fadeInLeft {
    --animate-duration: 2s;
  }
  
  .animate__animated.animate__fadeInRight {
    --animate-duration: 2s;
  }
  
  #section-2-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: stretch;
    padding: 3%;
  }
  
  #section-2-container p {
    width: 100%;
    font-size: 1.3em;
    padding: 1%;
    margin-left: 2%;  
    color: rgb(255, 255, 255);
  }
  
  #section-2-container img {
    padding: 1%;
  }